.button {
  padding: 1rem 1.5rem;
  font-size: 2rem;
  background-color: transparent;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
}

.primary {
  background-color: yellowgreen;
  color: white;
}
